.todo-app__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #3C424A;
  border-radius: 8px;
}
.todo-app__heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #2b3035;
  width: 100%;
}
.todo-app__change-day {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.71 18.293a1 1 0 0 0 1.415 0l4.887-4.892a2 2 0 0 0 0-2.828l-4.89-4.89a1 1 0 0 0-1.415 1.414l4.186 4.185a1 1 0 0 1 0 1.415L9.71 16.879a1 1 0 0 0 0 1.414Z' fill='%237a7a7a'/%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.todo-app__change-day--prev {
  rotate: 180deg;
}
.todo-app__content {
  color: white;
  
  text-align: center;
}
.todo-app__day {
  margin-top: 0;
    margin-bottom: 0;
}
.todo-app__date {
  margin-bottom: 10px;
}
/*---------------Main form---------------------------------------------------------*/

.todo-app__form {
  width: 100%;
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 46px;
  position: relative;
}

.todo-app__select {
  position: relative;
  cursor: pointer;
  width: 40px;
  text-align: center;
  border-right: 1px solid var(--border);
  flex-shrink: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app__categories {
  position: absolute;
  top: 40px;
  left: 0;
  cursor: pointer;
  background: white;
  padding: 10px 0;
  border-radius: 0 0 8px 8px;
  z-index: 99;
  border: 1px solid var(--border);
  border-top: none;
  text-align-last: left;
  min-width: 70px;
  width: max-content;
}

.category {
  padding: 5px 15px 5px 35px;
  position: relative;
}

.todo-app__selected-category {
  padding: 0;
}

.todo-app__category:hover {
  background: #f2e4ff;
}

.category::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  left: 13px;
  top: 7px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  /* border-color: var(--main-color); */
}

.todo-app__selected-category::before {
  left: -7px;
  top: -7px;
}


.todo-app__task-input {
  border: none;
  width: 100%;
  padding: 15px;
  display: block;
}

.todo-app__task-input::placeholder {
  color: #b1b0b0;
}

.todo-app__time-input::-webkit-datetime-edit {
  display: none;
}

.todo-app__time-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  height: 100%;
  margin: 0;
  padding: 7px;
  cursor: pointer;
  border: 1px solid black;
}

.todo-app__time-input {
  border: none;
  height: 100%;
  border-width: 1px;
  background-image: url("data:image/svg+xml,%3Csvg width='800' height='800' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18ZM12 6v6M16.24 16.24 12 12' stroke='%23a18aff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 30px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-position: center;
  width: 100px;
  position: relative;
}

.todo-app__time-input.filled::-webkit-datetime-edit {
  display: block;
}

.todo-app__time-input.filled::-webkit-calendar-picker-indicator {
  margin-left: 10px;
}

.todo-app__time-input.filled {
  justify-content: end;
  background-position: right;
}


input:focus {
  outline: none;
}


.todo-app__enter-button {
  background: none;
  border: none;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}





/*---------------Tasks---------------------------------------------------------*/

.todo-app__task-box {
  padding: 0;
  width: 100%;
}

.todo-app__task {
  color: #515151;
  background: white;
  list-style: disc;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.todo-app__task.completed {
  color: var(--general);
  text-decoration: line-through;
}

.todo-app__button-box {
  display: flex;
  gap: 10px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}


.todo-app__task-button {
  background: none;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  min-width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.todo-app__task-button svg {
  flex-shrink: 0;
}


.todo-app__task-button--toggle {
  position: relative;
  /* border-color: var(--main-color); */
}





.todo-app__task.completed .todo-app__task-button--toggle::before {
  position: absolute;
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M480 128c0 8.188-3.125 16.38-9.375 22.62l-256 256C208.4 412.9 200.2 416 192 416s-16.38-3.125-22.62-9.375l-128-128C35.13 272.4 32 264.2 32 256c0-18.28 14.95-32 32-32 8.188 0 16.38 3.125 22.62 9.375L192 338.8l233.4-233.4c6.2-6.27 14.4-9.4 22.6-9.4 17.1 0 32 13.7 32 32z' fill='%23a9a9a9'/%3E%3C/svg%3E");
  height: 15px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app__task-info {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: calc(100% - 45px);

  label {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.todo-app__task-crumbs {
  display: flex;
  gap: 20px;
  align-items: center;
}

.todo-app__task-button--delete {
  border-color: var(--delete);
}

.todo-app__task-button--delete svg {
  stroke: var(--delete);
}


/*---------------------------Categories--------------------------------*/

.sport,
.sport::before {
  border-color: var(--sport);
}

.work,
.work::before {
  border-color: var(--work);
}

.home,
.home::before {
  border-color: var(--home);
}

.hobby,
.hobby::before {
  border-color: var(--hobby);
}

.health,
.health::before {
  border-color: var(--health);
}

.social,
.social::before {
  border-color: var(--social);
}

.learning,
.learning::before {
  border-color: var(--learning);
}

.self-care,
.self-care::before {
  border-color: var(--self-care);
}

.general,
.general::before {
  border-color: var(--main-color);
}


.hide {
  display: none;
}


@media (min-width: 540px) {
  .todo-app__day {
    margin-top: 30px;
  }

  .todo-app__heading {
    margin-top: 15px;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }

  .todo-app__task-box {
    width: 90%;
  }

  .todo-app__settings-icon {
    display: none;
  }

  .todo-app__settings,
  .todo-app__settings-menu {
    display: contents;
  }

  .todo-app__select {
    width: 70px;
  }

  .todo-app__task {
    padding: 10px 20px;
  }

  .todo-app__task-info {
    gap: 15px;
  }
}