.form-card__wrapper {
    padding: 20px 20px 40px;
    background-color: #3C424A;
    border-radius: 8px;
    text-align: center;
    color: white;
}
.form-card__sub {
    color: var(--main-color);
    margin: auto;
    margin-top: 20px;
    width: 100%;
    transition: all 0.1s ease;
}
.form-card__sub:hover {
    color: var(--main-hover);
}
.form-card__alert {
    color: red;
}
.form-card__success {
    color: rgb(1, 208, 1);
}
.form {
    max-width: 400px;
    margin: auto;
}
.form__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.form__input {
    width: 100%;
    border: none;
    padding: 15px;
    display: block;
    border-radius: 8px;
    margin-top: 5px;
}
.form__button {
    border: none;
    padding: 15px;
    border-radius: 8px;
    margin-top: 5px;
    background: var(--main-color);
    color: white;
    display: block;
    width: 100%;
    transition: all 0.1s ease;
}

.form__button:disabled {
    background: var(--border);
}
.form__button:hover {
    background: var(--main-hover);
}