.header__wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo, .header__logo a {
    margin: 0;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.header__buttons {
    display: flex;
    gap: 10px;
}
.header__user {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23fff' stroke-width='1.5'%3E%3Ccircle cx='12' cy='9' r='3'/%3E%3Cpath d='M17.97 20c-.16-2.892-1.045-5-5.97-5s-5.81 2.108-5.97 5' stroke-linecap='round'/%3E%3Cpath d='M7 3.338A9.954 9.954 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12c0-1.821.487-3.53 1.338-5' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    display: block;
}

.header__logout {
    border: 2px solid white;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    height: 30px;
}